body {
    background-color: rgb(19, 19, 22);
    background: radial-gradient(
      circle at 10% 20%,
      rgba(85, 26, 139, 0.5),
      transparent 35%
    ),
    radial-gradient(circle at 70% 80%, rgba(75, 0, 130, 0.5), transparent 29%),
    radial-gradient(circle at 30% 60%, rgba(138, 43, 226, 0.5), transparent 29%),
    radial-gradient(circle at 90% 40%, rgba(75, 0, 130, 0.5), transparent 29%),
    #000;
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  
}

h1 {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    color: whitesmoke;
    margin-left: 15px;
}

#nameGradient {
    color: transparent;
    background: linear-gradient(to right, blueviolet, skyblue);
    /*to be customised*/
}

#programmerColor {
    color: rgb(106, 107, 112);
}