:root {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  color: white;
}
body {
  background-color: rgb(17, 17, 17);
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

h1 {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 50px;
  color: whitesmoke;
}
.textPage1 {
  background-color: rgb(17, 17, 17);
  border-radius: 20px;
  height: 100%;
  width: 50%;
  text-align: center;
  position: relative;
  left: 7%;
  top: 120px;
  padding-bottom: 10px;
}
.textPage1::after, .textPage1::before {
  display: inline;
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  background: conic-gradient( from var(--backgroundAngle), red, yellow, rgb(0, 255, 0), cyan, blue, magenta, red);
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  z-index: -1;
  border-radius: 23px;
  animation: spin 3s linear infinite;
  padding: 3px;
}
.textPage1::before {
  filter: blur(0.75rem);
}
.nameGradient {
  display: inline;
  background: linear-gradient(to right, blueviolet, rgb(0, 225, 255), blueviolet);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-size: 200%;
  animation: gradientAnimation 1.5s linear infinite;
  /*to be customised*/
}
#programmerColor {
  display: inline;
  color: rgb(106, 107, 112);
}
.introBottom {
  color: white;
  position: relative;
  right: 15%;
}
/* language boxes */
.languages {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  position: relative;
  height: auto;
  max-width: 550px;
  bottom: 100px;
  margin-left: auto;
  right: 2%;
}
.cpp, .javascript, .css, .html {
  all: unset;
  font-size: 23px;
  padding-right: 30px;
  padding-left: 30px;
  border: none;
  border: 1.5px solid rgb(128, 128, 128);
  
}
.langLogo {
  position: relative;
  top: 13px;
  height: 45px;
  padding: 5px;
  border: 1px solid rgb(68, 68, 68);
}
#htmlFix {
  position: relative;
  top: 10px;
}
button {
  background-color: rgb(17, 17, 17);
  padding-right: 15px;
  padding-left: 15px;
}
p {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  color: white;
  font-size: 25px;
}
/* Animations */
@keyframes gradientAnimation {
  to {
    background-position: 200%;
  }
}
@keyframes spin {
  from {
    --backgroundAngle: 0deg;
  }
  to {
    --backgroundAngle: 360deg;
  }
}
@property --backgroundAngle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}