:root {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  color: white;
}
body {
  background-color: rgb(17, 17, 17);
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  
}

h1 {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 50px;
    color: whitesmoke;
}
.page1 {
  padding: 10px;
  text-align: center;
  position: relative;
  right: 20%;
  top: 150px;
}
.nameGradient {
  display: inline;
    background: linear-gradient(to right, blueviolet, blue, blueviolet);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    background-size: 200%;
    animation: gradientAnimation 3s linear infinite;
    /*to be customised*/
}
#programmerColor {
    display: inline;
    color: rgb(106, 107, 112);
}
.introBottom {
  color: white;
}
@keyframes gradientAnimation {
    to {
      background-position: 200%;
    }
  }