/* refactored css */

.status-head {
  justify-content: center;
  align-items: center;
  margin: 8px;
}

.online-indicator {
  padding: 2px;
}

.current-project-container {
  margin: 12px;
}

.current-project {
  margin-left: 0.5rem;
  font-weight: bold;
}

.dashboard {
    --green: #4affa1;
    --blue: #1fbcff;
    --purple: #695cff;
    --cyan: #24f4ff;

    margin-top: 80px;
    padding: 1rem;

    width: min(1800px, 95vw);
    min-height: 100svh;
    margin: auto;
    padding-top: 80px;

    display: grid;
    gap: 1rem;

    grid-template-columns: repeat(8, 1fr);
    grid-template-columns: repeat(8, 1fr);

    position: relative;
    z-index: 1;
}

.status-card {
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;
}

.projects-card {
    grid-column: 4 / span 3;
    grid-row: 3 / span 2;
}

.music-card {
    grid-column: 3 / span 4;
    grid-row: 1 / span 1;
}

.coding-card {
    grid-column: 1 / span 3;
    grid-row: 3 / span 2;
}

.discord-card {
    grid-column: 7 / span 3;
    grid-row: 1 / span 4;
}

.github-card {
    grid-column: 3 / span 4;
    grid-row: 2;
}

.dashboard > div {
    min-width: 0;
    min-height: 0;
}

.dashboard .tui-window {
    height: 100%;
}

.project-bar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: clamp(0.6rem, 1vw, 1.2rem)
}

.project-bar-percentage {
  flex: 1;
}

.project-bar-percentage {
  text-align: right;
}

.tui-bar-container {
  text-align: center;
  padding: 0 20px;
}
